PHP_VERSION=8.5

CONTAINER_NAME=

PROXY_NETWORK=
PROXY_NETWORK_EXTERNAL=false


OPENCODE_PORT=4096
OPENCODE_DOMAIN=opencode.local
OPENCODE_CORS=*
OPENCODE_SERVER_USERNAME=
OPENCODE_SERVER_PASSWORD=
#OPENCODE_SHARE_PATH=
#OPENCODE_STATE_PATH=
#OPENCODE_GLOBAL_CONFIG_PATH=
#OPENCODE_CREDENTIALS_FILE=